<footer class="panel-footer">
    <div class="container">
        <div class="row">
           
        </div>
        <div class="text-center">&copy; Scopo Dishes 2024</div>
    </div>
</footer> <!-- End of footer -->